<div class="flip-card-container" [class.flipped]="isFlipped" (click)="toggleFlip()">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <ion-card class="flip-card-content">
        <ion-card-header>
          <ion-card-title>{{ frontText }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="frontSubtitle">
          <p>{{ frontSubtitle }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="flip-card-back">
      <ion-card class="flip-card-content">
        <ion-card-header>
          <ion-card-title>{{ backText }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="backSubtitle">
          <p>{{ backSubtitle }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>