/* src/app/components/flipcard/flipcard.component.scss */

.flip-card-container {
  padding: 2rem;
  background-color: transparent;
  width: 100%;
  height: 80vh; /* Ajusta la altura según tus necesidades */
  perspective: 1000px; /* Esto define la profundidad para la perspectiva 3D */
  cursor: pointer; /* Indica que es clickeable */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s; /* Duración de la animación de giro */
  transform-style: preserve-3d; /* Permite que los elementos hijos se coloquen en el espacio 3D */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px; /* Bordes redondeados para la tarjeta */
}

.flip-card-container.flipped .flip-card-inner {
  transform: rotateY(180deg); /* Gira la tarjeta 180 grados en el eje Y */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Oculta la parte trasera de la tarjeta durante el giro */
  backface-visibility: hidden;
  border-radius: 8px; /* Para que las esquinas coincidan con el inner */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: var(--ion-color-light); /* Color de fondo del frente */
  color: var(--ion-color-dark); /* Color del texto del frente */
}

.flip-card-back {
  background-color: var(--ion-color-primary); /* Color de fondo del reverso */
  color: var(--ion-color-light); /* Color del texto del reverso */
  transform: rotateY(180deg); /* Inicialmente el reverso está girado para quedar oculto */
}

.flip-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px; /* Espaciado interno de la tarjeta */
  border-radius: 8px;
  --ion-card-background: transparent; /* Hace el fondo de la ion-card transparente para que se vea el background de front/back */
  box-shadow: none; /* Elimina la sombra por defecto de ion-card, ya que la tenemos en el inner */
}

ion-card-title {
  font-size: 1.8em; /* Tamaño de fuente para el título principal */
  font-weight: bold;
}

ion-card-content p {
  font-size: 1.2em; /* Tamaño de fuente para el subtítulo */
}